div#header {
	div.container {
		div.pull-left {
			img.logo[src=http://placehold.it/500x200] {}
		}
		ul {
			li { a[href=#] { "Home" } }
			li { a[href=#] { "Downloads" } }
			li { a[href=#] { "Home" } }
			li { a[href=#] { "Home" } }
			li { a[href=#] { "Home" } }
		}
	}
}